<div class="flex flex-col bg-base-200 w-full items-center gap-y-2 p-4">
  <div class="mask mask-heart bg-red-400 w-32 h-32 animate-bounce mt-12"></div>
  <div class="flex flex-col p-2 font-mono">
    <span>
      The programmer, like the poet, works only slightly removed from pure
      thought-stuff. He builds his castles in the air, from air, creating by
      exertion of the imagination.
    </span>
    <span class="self-end">—— Fred Brooks</span>
  </div>
</div>
