---
import NavList from "./NavList.astro";
import ThemeSwitch from "./ThemeSwitch.astro";
---

<div class="navbar bg-base-200 shadow-sm">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden px-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"></path>
        </svg>
      </div>
      <NavList dropdown={true} />
    </div>
    <a href="/" class="btn btn-ghost text-xl px-2">
      <img class="h-full" src="/favicon.png" alt="logo" />
      <span> CodeArt.Online </span>
    </a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <NavList />
  </div>
  <div class="navbar-end pr-2">
    <ThemeSwitch />
  </div>
</div>
