---

---

<div class="stats stashadow border py-1 bg-base-300 border-none items-center">
  <div class="stat px-4 py-0">
    <div class="stat-title">本页访问量</div>
    <div class="stat-value text-2xl">
      <span>0</span>
    </div>
    <div class="stat-desc">
      本月:
      <span>0</span>
    </div>
  </div>
  <div class="stat px-4 py-0">
    <div class="stat-title">本站访问量</div>
    <div class="stat-value text-2xl">
      <span>0</span>
    </div>
    <div class="stat-desc">
      本月:
      <span>0</span>
    </div>
  </div>
  <div class="stat px-4 py-0">
    <div class="stat-title">本站访客数</div>
    <div class="stat-value text-2xl">
      <span>0</span>
    </div>
    <div class="stat-desc">
      本月:
      <span>0</span>
    </div>
  </div>
</div>
