<div class="stats stashadow border py-1 bg-base-300 border-none items-center">
  {
    ["本页访问量", "本站访问量", "本站访客数"].map((title) => (
      <div class="stat px-4 py-0">
        <div class="stat-title">{title}</div>
        <div class="stat-value text-2xl">
          <span class="visit-stats text-error">--</span>
        </div>
        <div class="stat-desc">
          本月:
          <span class="visit-stats text-error">--</span>
        </div>
      </div>
    ))
  }
</div>

<script>
  import { actions } from "astro:actions";
  import { getUserId } from "../../scripts/session.ts";

  function displayCount(count?: number): string {
    if (count === undefined || count < 0) {
      return "--";
    }

    const digits = count.toString().length;
    if (digits <= 3) {
      return count.toString();
    } else if (digits <= 6) {
      return (count / 1_000).toFixed(6 - digits) + "K";
    } else if (digits <= 9) {
      return (count / 1_000_000).toFixed(9 - digits) + "M";
    } else {
      return (count / 1_000_000_000).toFixed(12 - digits) + "B";
    }
  }

  await actions.visit.record({
    userId: getUserId(),
    url: window.location.href,
    referer: document.referrer,
    userAgent: navigator.userAgent,
  });

  const response = await actions.visit.getStats({
    pathname: window.location.pathname,
  });
  const data = response.data;
  if (data) {
    const statElements = document.querySelectorAll(".visit-stats");
    statElements.forEach((el, index) => {
      el.textContent = displayCount(data[index]);
      el.classList.remove("text-error");
    });
  }
</script>
